@include breakpoint($desktop) {
    header {

        #header.shrunk {
            height: 5rem;
            grid-template-columns: 30% 70%;
            grid-template-rows: 5rem;
            grid-template-areas:
                "logo mainnav";

            .logo {
                grid-area: logo;
                background-color: rgba(255, 255, 255, 0.950);
                height: 5rem;
                text-decoration: none;

                .logo-bg {
                    display: inline-block;
                    background-color: rgba(255, 255, 255, 0);
                    margin-left: 6vw;
                    height: 5rem;
                    padding-left: 1vw;
                    padding-right: 1vw;
                    transform: height(5rem);
                    transition: all .5s;

                    .logo-final {
                        display: flex;
                        align-items: center;
                        height: 5rem;

                        img {
                            width: 6rem;
                        }
                    }
                }
            }

            #mainnav {
                background-color: rgba(255, 255, 255, 0.950);
            }
        }

        #header {
            position: fixed;
            z-index: 2;
            display: grid;
            width: 100%;
            height: 4rem;
            grid-template-columns: 30% 70%;
            grid-template-rows: 4rem;
            grid-template-areas:
                "logo mainnav";


            .logo {
                grid-area: logo;
                background-color: $white;
                will-change: background-color;
                transition: background-color .5s;
                height: 4rem;
                text-decoration: none;

                .logo-bg {
                    display: inline-block;
                    background-color: $primary;
                    margin-left: 6vw;
                    height: 9rem;
                    padding-left: 1vw;
                    padding-right: 1vw;
                    will-change: background-color;
                    transition: background-color .5s ease-out;

                    .logo-final {
                        display: flex;
                        align-items: center;
                        height: 9rem;

                        img {
                            width: 8rem;
                        }
                    }


                }
            }

            #mainnav {
                grid-area: mainnav;
                background-color: $white;
                display: flex;
                justify-content: flex-end;
                will-change: background-color;
                transition: background-color .5s;

                ul {
                    display: flex;
                    justify-content: space-around;
                    padding-right: 6vw;

                    li {
                        padding-right: 2.5vw;
                        align-self: center;

                        a {
                            color: $primary;
                            font-family: $regular;
                            text-decoration: none;
                            font-size: 1rem;
                            text-transform: uppercase;
                            text-decoration: underline .3vh rgba(120, 121, 122, 0);

                            transition: text-decoration-color 300ms;
                            text-underline-offset: .5vh;
                        }

                        a:hover {
                            text-decoration-color: $secondary;

                        }
                    }
                }
            }
        }
    }

    .hero {
        height: 65rem;
        max-width: 100%;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9332866935836834) 0%, rgba(0, 0, 0, 0.6951914554884453) 35%, rgba(0, 0, 0, 0.258216665572479) 100%), url(./images/hero.jpg);
        background-size: cover;


        .hero-text {
            position: relative;
            top: 40rem;
            left: 6vw;


            h2 {
                color: white;
                display: inline-block;
                font-family: $bold;
                font-size: 4rem;
                padding-bottom: 3rem;
                line-height: 1.2;
            }

            a {
                font-family: $regular;
                text-decoration: none;
                color: $white;
                text-transform: uppercase;
                font-size: 1.5rem;
                border-width: 0.2vh;
                border-style: solid;
                border-color: $primary;
                padding: 1rem;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }

            a:hover {
                font-family: $regular;
                text-decoration: none;
                color: $white;
                text-transform: uppercase;
                font-size: 1.5rem;
                border-width: 0.2vh;
                border-style: solid;
                border-color: $primary;
                padding: 1rem;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                animation-duration: .2s;
                animation-name: pulse;
                animation-fill-mode: forwards;

            }

            @keyframes pulse {
                10% {
                    background: linear-gradient(to right, $primary 0%, rgba(255, 255, 255, 0) 10%);
                }

                20% {
                    background: linear-gradient(to right, $primary 10%, rgba(255, 255, 255, 0) 20%);
                }

                30% {
                    background: linear-gradient(to right, $primary 20%, rgba(255, 255, 255, 0) 30%);
                }

                40% {
                    background: linear-gradient(to right, $primary 30%, rgba(255, 255, 255, 0) 40%);
                }

                50% {
                    background: linear-gradient(to right, $primary 40%, rgba(255, 255, 255, 0) 50%);
                }

                60% {
                    background: linear-gradient(to right, $primary 50%, rgba(255, 255, 255, 0) 60%);
                }

                70% {
                    background: linear-gradient(to right, $primary 60%, rgba(255, 255, 255, 0) 70%);
                }

                80% {
                    background: linear-gradient(to right, $primary 70%, rgba(255, 255, 255, 0) 80%);
                }

                90% {
                    background: linear-gradient(to right, $primary 80%, rgba(255, 255, 255, 0) 90%);
                }

                100% {
                    background: linear-gradient(to right, $primary 101%, rgba(255, 255, 255, 0) 100%);
                }

            }

            @keyframes pulse2 {
                10% {
                    background: linear-gradient(to right, $primary 0%, $grey 10%);
                }

                20% {
                    background: linear-gradient(to right, $primary 10%, $grey 20%);
                }

                30% {
                    background: linear-gradient(to right, $primary 20%, $grey 30%);
                }

                40% {
                    background: linear-gradient(to right, $primary 30%, $grey 40%);
                }

                50% {
                    background: linear-gradient(to right, $primary 40%, $grey 50%);
                }

                60% {
                    background: linear-gradient(to right, $primary 50%, $grey 60%);
                }

                70% {
                    background: linear-gradient(to right, $primary 60%, $grey 70%);
                }

                80% {
                    background: linear-gradient(to right, $primary 70%, $grey 80%);
                }

                90% {
                    background: linear-gradient(to right, $primary 80%, $grey 90%);
                }

                100% {
                    background: linear-gradient(to right, $primary 101%, rgba(255, 255, 255, 0) 100%);
                }

            }
        }
    }

    main {
        margin-left: 6vw;
        margin-right: 6vw;
        height: 80vh;

        .skewed {
            position: absolute;
            top: 20rem;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 10%;
            background: #2c3e50;
            z-index: 0;
            transform: skewY(-2deg);
            transform-origin: top left;
        }

        .section1 {
            margin-top: 6vw;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas:
                "text imagegrid";

            .text {
                grid-area: text;
                display: flex;
                align-items: center;

                h2 {
                    font-family: $light;
                    color: $secondary;
                    font-size: 2rem;
                    text-transform: uppercase;
                }

                p {
                    color: $grey;
                    font-family: $bold;
                    font-size: 3rem;
                    line-height: 1.3;
                }

                .headline {
                    display: inline-block;

                    .divider {

                        img {
                            max-width: 10vw;
                        }
                    }
                }

                .button {
                    padding-top: 4rem;

                    a {
                        font-family: $regular;
                        text-decoration: none;
                        color: $white;
                        text-transform: uppercase;
                        font-size: 1rem;
                        border-width: 0.2vh;
                        border-style: solid;
                        border-color: $grey;
                        padding: 1rem;
                        padding-left: 2.5rem;
                        padding-right: 2.5rem;
                        background-color: $grey;
                    }

                    a:hover {
                        font-family: $regular;
                        text-decoration: none;
                        color: $white;
                        text-transform: uppercase;
                        font-size: 1rem;
                        border-width: 0.2vh;
                        border-style: solid;
                        border-color: $white;
                        padding: 1rem;
                        padding-left: 2.5rem;
                        padding-right: 2.5rem;
                        animation-duration: .2s;
                        animation-name: pulse2;
                        animation-fill-mode: forwards;

                    }
                }
            }

            .image {
                grid-area: imagegrid;
                display: flex;
                justify-content: flex-end;

                img {
                    width: 60%;
                    align-self: center;
                }
            }


        }

        .section2 {
            margin-top: 6vw;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 2rem;
            grid-template-areas:
                "service1 service2 service3";

            h3 {
                font-family: $bold;
                color: $primary;
                font-size: 2rem;
            }

            p {
                color: $lightgrey;
                font-family: $light;
                line-height: 1.3;
                font-size: 1.2rem;
                padding-top: 1rem;
            }

            .services-text {
                margin: 2rem;
            }

            .service1 {
                grid-area: service1;
                background-image: url(./images/one.svg);
                background-size: 30rem;
                background-position: center;
                background-repeat: no-repeat;
                min-height: 30rem;
                background-color: $grey;
                display: flex;
                align-items: center;
                will-change: background-color;
                transition: background-color 1s;
            }

            .service1:hover {
                background-color: #1f1f1f;
                background-image: none;
            }

            .service2 {
                grid-area: service2;
                background-image: url(./images/two.svg);
                background-size: 30rem;
                background-position: center;
                background-repeat: no-repeat;
                min-height: 30rem;
                background-color: $grey;
                display: flex;
                align-items: center;
                will-change: background-color;
                transition: background-color 1s;
            }

            .service2:hover {
                background-color: #1f1f1f;
                background-image: none;
            }

            .service3 {
                grid-area: service3;
                background-image: url(./images/three.svg);
                background-size: 30rem;
                background-position: center;
                background-repeat: no-repeat;
                min-height: 30rem;
                background-color: $grey;
                display: flex;
                align-items: center;
                will-change: background-color;
                transition: background-color 1s;
            }

            .service3:hover {
                background-color: #1f1f1f;
                background-image: none;
            }
        }

        .section3 {
            margin-top: 6vw;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2rem;
            grid-template-areas:
                "grid1 grid2"
                "grid3 grid4";

            .grid1 {
                grid-area: grid1;
                background-color: aqua;
            }

            .grid2 {
                grid-area: grid2;
            }

            .grid3 {
                grid-area: grid3;
                background-color: aquamarine;
            }

            .grid4 {
                grid-area: grid4;
                background-color: beige;
            }
        }


    }
}