// BREAKPOINTS
$mobile: 720;
$desktop: $mobile + 1;

//COLORS
$white: white;
$primary: #d5a63a;
$secondary: #ae8933;
$accent: #4b8178;
$grey: #262626;
$lightgrey: #d5d5d5;


//FONTS
$light: 'Kumbh Sans Light';
$regular: 'Kumbh Sans Regular';
$bold: 'Kumbh Sans Bold';